


.siteFooter {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;

    h4{
        font-size: 26px;
        font-weight: 300;
    }
    
}

.siteFooter ul{
    list-style: none;
}

.siteFooter a {
    color: lightblue;
    text-decoration: none;
    padding: 20px;
}
.siteFooter i {
    scale: .75;
    color: #333;
    transition: color 0.3s ease;
}

.siteFooter i:hover {
    color: #0077b5; /* LinkedIn blue */
}


